.page-header
  %h1
    Жанры
    -if Genre.add?(@current_user)
      =link_to new_genre_path,class: 'btn btn-primary' do
        =fa_icon 'plus'
.list-group
  -@genres.each do |genre|
    =link_to genre.name,genre,class: 'list-group-item'
=paginate @genres