.page-header
  %h1
    Персоны
    -if Person.add?(@current_user)
      =link_to new_person_path,class: 'btn btn-primary' do
        =fa_icon 'plus'
.list-group
  -@people.each do |person|
    =link_to person.name,person,class: 'list-group-item'
=paginate @people
